/* Styling for the main componets of page*/

.container {
    width: 100%;
    background-color: black;
}


/* NAVIGATION */
.main-logo {
    width: 125px;
    height: 125px;
    margin 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url("../img/logo.png") no-repeat;
    background-size: 100%;
}

.navbar  {
    border-bottom: 3px solid yellow;
}

.nav-pills li{
    background-color: yellow;
    border-radius: 15%;
    margin: 2.5% 1% 0 0;
    font-size: 1.3em;
    font-weight: 600;
}

.dropdown:hover .dropdown-menu{
    display: block;
    float: left;
    position: relative;
}

/*login form*/
#menuLogin{
    background-color: yellow;
    margin: 1.5%;
}

.btn{
    background-color: black;
}


.content{
    margin-top: 12%;
    width: 85%;
}

p{
    font-weight: 800;
}


.titles{
    color: hotpink;
    z-index: -1;
    font-size: 50px;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    display: block;
    clear: both;
}


/* used on HOME & ABOUT pages */
.wrapper{
    max-width: 85%;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: repeat;
    margin: 0 auto;
    margin-top: 150px;
    padding: 2% 2%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: -50;
    border-radius: 5%;
}




/************ HOME PAGE *************/


/* sets the dimensions for the box that contains the scrolling image */

#page-wrap { 
  width: 80%;
  max-width: 1000px; 
  background: none;
  margin: 20px auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   z-index: -1;
}

#page-wrap:before, #page-wrap:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 80px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,100), rgba(255,255,255,0));
}

#page-wrap:before {
  left: 0;
}

#page-wrap:after {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,100));
}



/************ ABOUT PAGE *************/

#answers{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    color: #48F70C; /*neon green*/
}








/************* CARTOON PAGES *********************/

.show-logo{
    margin-left: 2%;
    margin-bottom: 2%;
}

.col-lg-6{
    margin-bottom: 1.5%;
}



#video {
    background: white;
}


#audio {
    background: white;
}



.fact{
    background-color: yellow;
    width: 100px;
    position:static;
    z-index: -1;
    
 }



#pic{
    width: 100%;
    
}



